{% extends 'base_auth.html' %}
{% load crispy_forms_tags %}

{% block title %}Update Job Preferences{% endblock %}

{% block content %}
    <h2>Update Job Preferences</h2>
    <a href="{% url 'profile' %}" class="btn btn-sm btn-outline-secondary mb-3"><i class="fas fa-arrow-left"></i> Back to Profile</a>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary">Update Preferences</button>
    </form>
{% endblock %} 