asgiref==3.8.1
coverage==7.6.12
crispy-bootstrap5==2024.10
Django==4.2.20
django-crispy-forms==2.3
gunicorn==23.0.0
packaging==24.2
pillow==11.1.0
sqlparse==0.5.3
whitenoise==6.9.0
pypdf==5.3.1
requests==2.32.2
selenium