{% extends 'base.html' %}
{% load static %}
{% block title %}
Dashboard
{% endblock %}

{% block content %}
<div class="container">

    <div class="d-flex justify-content-end" style="padding-top: 20px;">
        {% if LI_username %}
            <p>LinkedIn Username: {{ LI_username }}</p>
        {% else %}
            <p> LinkedIn Username: None Given</p>
        {% endif %}
    </div>

    <div style="padding-top: 15px;">
        <form method="POST" action="" class="d-flex flex-row mb-3 justify-content-end">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Search" style="margin-left: 20px; height: 28px;">
            
        </form>
    </div>



    <br/>
    <br/>
    <table class="table table-cover">
        <thead>
            <tr>
                <!-- <th scope="col">#</th> -->
                <th scope="col">Search Word</th>
                <th scope="col">Job Title</th>
                <th scope="col">Company</th>
                <th scope="col">Link</th>
                <th scope="col">Type</th>
                <th scope="col">Progress</th>
            </tr>
        </thead>
        <tbody>
       
    {% for job_dict in job_list %}
        {% for k,v in job_dict.items %}
            <tr>
                <!-- <th scope="row">{{ count }}</th> -->
                <th scope="col">--</th>
                <th scope="col">{{ v }}</th>
                <th scope="col">{{ v }}</th>
                <th scope="col">{{ v }}</th>
                <th scope="col"><a href="{{ v }}">{{ v }}</a></th>
                <th scope="col">--</th>
            </tr>
        {% endfor %}
    {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}